
* {
    box-sizing: border-box;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin: 1px;
    border-radius: 1;
    column-gap:2%;
    width:90%;
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 1px solid #ebebeb;
  }

  h4 {
    margin: 0px;
  }

  .list-headline {
    color: #222;
    line-height: 24px;
    font-weight: 550;
  }

  a {
    text-decoration: none;
    :hover {
      color:cornflowerblue
    }
  }

  .list-standfirst{
    font-size: medium;
  }

  .list-footer {
    color: grey;
  }

  .list-error {
    font-size:large;
    color: darkred;
  }

  .list-no-data {
    font-size: large;
  }
 